@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  font-family: "Pacifico", cursive;
}
header,
footer {
  padding: 10px;
  background-color: gold;
  text-align: center;
}
textarea {
  background-color: aliceblue;
  display: block;
  height: 25vh;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  font-family: "Pacifico";
}
.top-head {
  padding: 5px;
}
h1 {
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
button {
  display: block;
  background-color: crimson;
  color: aliceblue;
  padding: 10px;
  margin: 0 auto;
}
hr {
  border: 0cap;
  padding: 10px 0;
}

body {
  background-color: white;
  margin: 0;
}
